[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.1"
alpaca-trade-api = "==0.14"
pipeline-live = "==0.1.4"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
