[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==19.0.1"
alpaca-trade-api = "==0.24"
pipeline-live = "==0.1.4"

[dev-packages]
jupyter = "*"
matplotlib = "*"
pylint = "*"

[requires]
python_version = "3.6.8"
