pip==19.0.1
alembic==1.0.7
alpaca-trade-api==0.26
asyncio-nats-client==0.8.2
bcolz==0.12.1
Bottleneck==1.2.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
contextlib2==0.5.5
cyordereddict==1.0.0
Cython==0.29.4
decorator==4.3.2
empyrical==0.5.0
idna==2.8
iexfinance==0.3.5
intervaltree==3.0.2
Logbook==1.4.3
lru-dict==1.1.6
lxml==4.3.0
Mako==1.0.7
MarkupSafe==1.1.0
multipledispatch==0.6.0
networkx==1.11
numexpr==2.6.9
numpy==1.16.1
pandas==0.22.0
pandas-datareader==0.7.0
patsy==0.5.1
pipeline-live==0.1.4
python-dateutil==2.7.5
python-editor==1.0.4
pytz==2018.9
requests==2.21.0
requests-file==1.4.3
scipy==1.2.0
six==1.12.0
sortedcontainers==2.1.0
SQLAlchemy==1.2.17
statsmodels==0.9.0
tables==3.4.4
toolz==0.9.0
trading-calendars==1.7.0
urllib3==1.24.1
websocket-client==0.54.0
websockets==7.0
wrapt==1.11.1
zipline==1.3.0
ta
sklearn
